<sly-card title="Objects gallery"
          subtitle=""
          class="mt10"
          v-loading="!state.done3"
          element-loading-text="Building pages..."
          :options="{collapsable: true}"
          :collapsed.sync="state.collapsed3"
          :disabled="{disabled: state.disabled3, message: 'Create gallery at STEP 2'}"
          ref="step3"
>
    <div>
        <sly-field title="" class="mt10">
            <div v-if="state.activeStep === 3 && !state.loadingGallery && state.done3" class="fflex mb15"
                 style="justify-content: center;">


                <el-pagination
                        style="align-content: center;"
                        @current-change="command('update-gallery')"
                        :current-page.sync="state.inputPage"
                        layout="prev, pager, next, jumper"
                        :page-count="state.totalPages">
                </el-pagination>

            </div>
            <sly-grid-gallery
                    v-if="data.perClass"
                    v-loading="state.loadingGallery"
                    :content="data.perClass.content"
                    :options="data.perClass.options">
                <template v-slot:card-footer="{ annotation }">
                    <div class="mt5" style="text-align: center">
                        <a :href="`${annotation.info.labelingUrl}`">
                            <el-tag type="primary">{{annotation.title}} <i class="zmdi zmdi-open-in-new"></i></el-tag>
                        </a>
                    </div>
                </template>
            </sly-grid-gallery>
            <div v-if="state.activeStep === 3 && !state.loadingGallery" class="fflex" style="justify-content: center;">
                <el-pagination
                        @current-change="command('update-gallery'); $nextTick(() => { $refs['step3'].$el.scrollIntoView({behavior: 'smooth', block: 'start'}); })"
                        :current-page.sync="state.inputPage"
                        layout="prev, pager, next, jumper"
                        :page-count="state.totalPages">
                </el-pagination>
            </div>
        </sly-field>
    </div>
</sly-card>