<div>

    <!--        <pre>-->
    <!--            {{ JSON.stringify(data.classes, undefined, 4) }}-->
    <!--            {{ JSON.stringify(state.selectedClasses, undefined, 4) }}-->
    <!--        </pre>-->


    <sly-card title="Input">
        <div class="fflex">
            <sly-field title="" description="Project">
                <a slot="title" target="_blank"
                   :href="`/projects/${data.projectId}/datasets`">{{data.projectName}}</a>
                <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl}` }"/>
            </sly-field>
            <sly-field style="margin-left: 15px" v-if="data.datasetId != null" title="" description="Dataset">
                <a slot="title" target="_blank"
                   :href="`/projects/${data.projectId}/datasets`">{{data.datasetName}}</a>
                <sly-icon slot="icon" :options="{ imageUrl: `${data.datasetPreviewUrl}` }"/>
            </sly-field>


        </div>
        <div class="fflex">
            <div>
                <p>
                    <b>Total images: {{data.projectTotalImages}}</b>
                </p>

                <p>
                    <b>Total objects: {{data.projectTotalObjects}}</b>
                </p>
            </div>

            <div>
                <p v-if="data.datasetId != null" style="margin-left: 60px" v-if="data.datasetId != null">
                    <b>Total dataset images: {{data.datasetTotalImages}}</b>
                </p>

                <p v-if="data.datasetId != null" style="margin-left: 60px" v-if="data.datasetId != null">
                    <b>Total dataset objects: {{data.datasetTotalObjects}}</b>
                </p>
            </div>
        </div>
    </sly-card>

    <sly-card class="mt15"
              title="Select classes to review"
              subtitle="">
        <el-table
                class="ultra-table"
                :data="data.classes"
                style="width: 100%"
                max-height="500"
                @selection-change="
                (val) => {
                    state.selectedClasses = val.map(x => x.title);
                }
                "
        >
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column label="Name" prop="title" sortable>
                <template scope="scope">
                    <i class="zmdi zmdi-circle mr5" :style="{color: scope.row.color}"></i>
                    {{ scope.row.title }}
                </template>
            </el-table-column>
            <el-table-column prop="shape" label="Shape" sortable width="180"></el-table-column>
            <el-table-column prop="imagesCount" label="Images count" sortable width="150"></el-table-column>
            <el-table-column prop="objectsCount" label="Objects count" sortable width="180"></el-table-column>
            <el-table-column prop="objectsTotalArea" label="Total object area" sortable width="180"></el-table-column>
        </el-table>
    </sly-card>


    <sly-card title="Images"
              subtitle=""
              class="mt10"
              ref="step5"
    >
        <el-button type="primary" class="regular"
                   :disabled="state.selectedClasses.length === 0"
                   @click="command('update-gallery');"
        >Update gallery
        </el-button>
        <div>
            <hr>
            <sly-field title="" class="mt10">
                <div class="fflex mb15">

                    <el-pagination
                            @current-change="command('update-gallery')"
                            :current-page.sync="state.inputPage"
                            layout="prev, pager, next, jumper"
                            :page-size="state.rows"
                            :total="state.maxImages">
                    </el-pagination>

                    <el-tag type="gray" class="ml15"
                            style="font-size: 17px;">current page: {{ state.galleryPage }}/{{ state.galleryMaxPage }}
                    </el-tag>
                </div>
                <sly-grid-gallery
                        v-if="data.perClass"
                        :content="data.perClass.content"
                        :options="data.perClass.options && {resizeOnZoom: true}">
                    <template v-slot:card-footer="{ annotation }">
                        <div class="mt5" style="text-align: center">
                            <el-tag type="primary">{{annotation.title}}</el-tag>

                        </div>
                    </template>
                </sly-grid-gallery>
            </sly-field>
        </div>
    </sly-card>


</div>
